

<div>
    <label for="search">Wyszukaj po nazwie: </label>
    <input id="search" type="text" (input)="onSearch($event)" placeholder="Wpisz nazwę...">
</div>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Data ważności</th>
            <th>Edycja</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let d of (data$ | async)">
            <td>{{d.id}}</td>
            <td>{{d.nazwa}}</td>
            <td>{{d.cena | currency:'PLN'}}</td>
            <td>{{d.dataWaznosci | date:"shortDate"}}</td>
            <td><a [routerLink]="d.id + ''">Przejdź do edycji</a></td>
            <td><button (click)="onDelete(d.id)">Usuń</button></td>
        </tr>
    </tbody>
</table>

<div class="pagination">
    <button (click)="changePage(-1)" [disabled]="(page$ | async) === 1">Poprzednia</button>
    <span> Strona {{page$ | async}} </span>
    <button (click)="changePage(1)">Następna</button>
</div>

<a routerLink="/dodawanie">Przejdź do dodawania</a>